.item {
  border: 1px solid ;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.line {
  display: flex;
  align-items: center;
  gap: 12px;
}

.iconWrap {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon {
  width: 16px;
  height: 16px;
  display: block;
}

.line span {
  line-height: 1;
}

.delete {
  padding: 4px 10px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  background-color: #0078d0;
  border: 0;
  border-radius: 45px;
  color: #fff;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  outline: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.delete:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.delete:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
}